* text=auto !eol
images/safehtml-128.png -text
images/safehtml-32.png -text
inc/safehtml.php -text
lang/paquet-safehtml.xml -text
lang/paquet-safehtml_en.php -text
lang/paquet-safehtml_es.php -text
lang/paquet-safehtml_it.php -text
lang/paquet-safehtml_pt.php -text
lang/paquet-safehtml_ru.php -text
lang/paquet-safehtml_sk.php -text
lib/safehtml/classes/HTMLSax3.php -text
lib/safehtml/classes/HTMLSax3/Decorators.php -text
lib/safehtml/classes/HTMLSax3/States.php -text
lib/safehtml/classes/HTMLSax3/index.php -text
lib/safehtml/classes/index.php -text
lib/safehtml/classes/safehtml.php -text
lib/safehtml/index.php -text
lib/safehtml/license.txt -text
lib/safehtml/readme-SPIP.txt -text
lib/safehtml/readme.txt -text
